 <!DOCTYPE html> 
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>会员信息</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
    
   
  </head>
  <body>
 <section>
   <div class="page_title">
    <h2 class="fl">会员信息</h2>
   </div>
   <table class="table">
    <tr>
     <th>编号</th>
     <th>邮箱地址</th>
      <th>积分</th>
     <th>等级</th>
      <th>消费次数</th>
     <th>消费总额</th>
     <th>操作</th>
    </tr>
   <foreach name='list' item='v'>
    <tr>
     <td><center><{$v.m_id}></center></td>
     <td><center><{$v.m_email}></center></td>
      <td><center><{$v.m_integral}></center></td>
     <td><center><{$v.m_grade}></center></td>
      <td><center><{$v.m_account}></center></td>
     <td><center><{$v.m_amount}></center></td>
     <td><center>
      <a href="__APP__/Home/Member/do_delete?m_id=<{$v.m_id}>" class="inner_btn" onclick=" return confirm('确定删除?');">删除</a>
     </center></td>
    </tr>
   </foreach>
   </table>
   <aside class="paging">
   <{$show}>
   </aside>
  </section> 
  </body>
</html>