 <!DOCTYPE html> 
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>点餐入口</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->

</head>
  <body>
  <section>
    <div class="page_title">
     <h2 class="fl">点餐入口</h2>
    </div>
 
       <ul class="ulColumn">
      <form action='__URL__/dishesIndex' method='get' name='myForm'>
      <li>
      <span class="item_name" style="width:120px;">请选输入点餐码：</span>
        <input type="text" name="r_id" class="textbox textbox_295"/>
        <input type="submit" class="link_btn" value="去点餐" />
       </li>  
       </form>
       </ul>
<aside class="paging">
<{$show}>
</aside>
</section> 
  </body>
</html>
   