 <!DOCTYPE html> 
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>餐桌信息</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
  
 
  <body>
 <section>
    <div class="page_title">
     <h2 class="fl">餐桌信息</h2>
    </div>
    <table class="table">
     <tr>
      <th>编号</th>
      <th>座位数</th>
      <th>定金</th>
      <th>所在区域</th>
      <th>周一早上</th>
      <th>周一中午</th>
      <th>周一晚上</th>
      <th>周二早上</th>
      <th>周二中午</th>
      <th>周二晚上</th>
      <th>周三早上</th>
      <th>周三中午</th>
      <th>周三晚上</th>
      <th>周四早上</th>
      <th>周四中午</th>
      <th>周四晚上</th>
      <th>周五早上</th>
      <th>周五中午</th>
      <th>周五晚上</th>
      <th>周六早上</th>
      <th>周六中午</th>
      <th>周六晚上</th>
      <th>周日早上</th>
      <th>周日中午</th>
      <th >周日晚上</th>
 <th width="15%">操作</th>
     </tr>
    <foreach name='list' item='v'>
     <tr>
      <td><center><{$v.b_id}></center></td>
      <td><center><{$v.b_seats}></center></td>
       <td><center><{$v.b_deposit}></center></td>
      <td><center><{$v.b_block}></center></td>
      <td><center><{$v.b_monbreakfast}></center></td>
      <td><center><{$v.b_monlunch}></center></td>
      <td><center><{$v.b_monsupper}></center></td>
      <td><center><{$v.b_tuebreakfast}></center></td>
      <td><center><{$v.b_tuelunch}></center></td>
      <td><center><{$v.b_tuesupper}></center></td>
      <td><center><{$v.b_wedbreakfast}></center></td>
      <td><center><{$v.b_wedlunch}></center></td>
      <td><center><{$v.b_wedsupper}></center></td>
      <td><center><{$v.b_thubreakfast}></center></td>
      <td><center><{$v.b_thulunch}></center></td>
      <td><center><{$v.b_thusupper}></center></td>
      <td><center><{$v.b_fribreakfast}></center></td>
      <td><center><{$v.b_frilunch}></center></td>
      <td><center><{$v.b_frisupper}></center></td>
      <td><center><{$v.b_satbreakfast}></center></td>
      <td><center><{$v.b_satlunch}></center></td>
      <td><center><{$v.b_satsupper}></center></td>
      <td><center><{$v.b_sunbreakfast}></center></td>
      <td><center><{$v.b_sunlunch}></center></td>
      <td><center><{$v.b_sunsupper}></center></td>

      <td><center>
       <a href="__APP__/Home/Desk/modify?b_id=<{$v.b_id}>" class="inner_btn">修改</a>
       <a href="__APP__/Home/Desk/do_delete?b_id=<{$v.b_id}>" class="inner_btn" onclick=" return confirm('确定删除?');">删除</a>
      </center></td>
     </tr>
    </foreach>
    </table>
    <aside class="paging">
    <{$show}>
    </aside>
   </section> 
  </body>
</html>