 <!DOCTYPE html> 
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>餐桌菜品记录</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
    <script src="__JS__/jquery.js"></script>
    <script type="text/javascript">
      window.onload=function(){  
        $("#condi ").val(<{$condi}>); // 设置Select的Value值为<{$d.c_id}>的项选中 
      }
  
    </script>
 </head>
  <body>
 <section>
    <div class="page_title">
     <h2 class="fl">餐桌菜品记录</h2>
    </div>
      <center>
    <form action='__URL__/search' method='get'>
    请选择搜索条件:
      <select class="select" name="condi" id="condi">
         <option  value="1">已点</option>
          <option  value="2">已开始做</option>
            <option  value="3">已上桌</option>
        </select>
      <input type='submit' class="link_btn" value='搜索'/>
    </form></center>
    <table class="table">
     <tr>
      <th>编号</th>
      <th>菜品编号</th>
      <th>订单餐桌记录编号</th>
      <th>菜品名称</th>
      <th>原价</th>
      <th>促销价</th>
      <th>数量</th>
    
      <th>总额</th>
      <th>折后总额</th>
      <th>口味</th>
       <th>状态</th>
       <th>催菜状态</th>
      <th>操作</th>
     </tr>
    <foreach name='list' item='v'>
     <tr>
      <td><center><{$v.u_id}></center></td>
      <td><center><{$v.d_id}></center></td>
       <td><center><{$v.r_id}></center></td>
      <td><center><{$v.u_dish}></center></td>
       <td><center><{$v.u_price}></center></td>
      <td><center><{$v.u_disprice}></center></td>
       <td><center><{$v.u_account}></center></td>
     
       <td><center><{$v.u_amount}></center></td>
         <td><center><{$v.u_disamount}></center></td>
      <td><center><{$v.u_flavor}></center></td>
       <td><center><{$v.u_state}></center></td>
        <td><img src="__IMAGES__/100.jpg" height="4" width="<{$v.u_urgent}>" /><{$v.u_urgent}></td>
      <td><center>
       <a href="__APP__/Home/Orderdish/modify?u_id=<{$v.u_id}>" class="inner_btn">修改</a>
       <a href="__APP__/Home/Orderdish/do_delete?u_id=<{$v.u_id}>" class="inner_btn" onclick=" return confirm('确定删除?');">删除</a>
      </center></td>
     </tr>
    </foreach>
    </table>
    <aside class="paging">
    <{$show}>
    </aside>
   </section> 
  </body>
</html>