<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>注册会员</title>
<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
  <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
</head>
<body>
<!--header-->
<header>
</header>
<body>
  <section>
    <div class="page_title">
     <h2 class="fl"><center>注册会员</center></h2>
    </div>
    <div class="reg">
      注册步骤:
    1.填写信息&gt; 2.验证邮箱&gt;<span style="color:red"> 3.注册成功 </span> 
    </div>
    <div class="msg">
          注册成功！<br/>
    </div>
    </section>
  </body>
</html>
 