<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>生成订单条目</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
      <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
	</head>
	<body>
	  <section>
    <div class="page_title">
     <h2 class="fl">生成订单条目</h2>
    </div>
  
     <section>
    <form action='__URL__/get_odlist' method='post' name='myForm'>
      <ul class="ulColumn">
      <input type="hidden" name="y_openid" value='<{$rm.y_openid}>' />
       <input type="hidden" name="y_usetime" value='<{$rm.y_usetime}>' />
      <li> 
        <span class="item_name" style="width:120px;">预定单号：</span>
        <input type="text" name="n_id" class="textbox textbox_295" value='<{$rm.y_content}>'/>
       </li>
        <li>
        <span class="item_name" style="width:120px;">操作人：</span>
       <select class="select" name="w_id" >
        <foreach name='list' item='v'>
         <option  value="<{$v.w_id}>"><{$v.w_name}></option>
         </foreach>
        </select>
       </li>  
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn" value="生成条目"/>
       </li>
      </ul>
      </form>
     </section>
	</body>
</html>