<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>预定单号</title>
<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
  <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
</head>
<body>
<!--header-->
<header>
</header>
<body>
  <section>
    <div class="page_title">
     <h2 class="fl"><center>预定单号</center></h2>
    </div>
    <div class="reg">
     <span style="color:red"> 下面是您的预定单号，请记住，在您到店就餐时需要您输入该单号，建议截屏保存</span> 
    </div>
    <div class="msg">
          <{$_GET[n_id]}><br/>
    </div>
    </section>
  </body>
</html>
 