 <!DOCTYPE html> 
  <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>预定信息</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
    <script src="__JS__/jquery.js"></script>
    <script type="text/javascript">
      window.onload=function(){  
        $("#condi ").val(<{$condi}>); // 设置Select的Value值为<{$d.c_id}>的项选中 
      }
  
    </script>
 </head>
  <body>
 <section>
    <div class="page_title">
     <h2 class="fl">预定信息</h2>
    </div>
    <center>
    <form action='__URL__/search' method='get'>
    请选择搜索条件:
      <select class="select" name="condi" id="condi">
         <option  value="1">订单生成</option>
          <option  value="2">预订成功</option>
        </select>
      <input type='submit' class="link_btn" value='搜索'/>
    </form></center>
    <table class="table">
     <tr>
      <th>编号</th>
      <th>预定时间</th>
      <th>预定人数</th>
      <th>姓名</th>
      <th>手机号码</th>
      <th>定金</th>
         <th>状态</th>
         <th>用餐时间</th>
      <th>备注</th>
      <th>操作</th>
     </tr>
    <foreach name='list' item='v'>
     <tr>
      <td><center><{$v.n_id}></center></td>
      <td><center><{$v.n_reservetime}></center></td>
       <td><center><{$v.n_usernumber}></center></td>
      <td><center><{$v.n_name}></center></td>
       <td><center><{$v.n_phone}></center></td>
      <td><center><{$v.n_money}></center></td>
           <td><center><{$v.n_state}></center></td>
            <td><center><{$v.n_usetime}></center></td>
       <td><center><{$v.n_description}></center></td>
      <td><center>
       <a href="__APP__/Home/Reserve/modify?n_id=<{$v.n_id}>" class="inner_btn">修改</a>
       <a href="__APP__/Home/Reserve/do_delete?n_id=<{$v.n_id}>" class="inner_btn" onclick=" return confirm('确定删除?');">删除</a>
      </center></td>
     </tr>
    </foreach>
    </table>
    <aside class="paging">
    <{$show}>
    </aside>
   </section> 
  </body>
</html>